<div>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- ID Column -->
        <ng-container matColumnDef="Task">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Task </th>
            <td mat-cell *matCellDef="let row"> {{row.Task}} </td>
        </ng-container>

        <!-- WorkItemNo Column -->
        <ng-container matColumnDef="Effort">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Effort </th>
            <td mat-cell *matCellDef="let row"> {{row.Effort}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
</div>
<!-- <div>
    <ag-grid-angular style="width: 100%; height: 450px;" class="ag-theme-material" [gridOptions]="gridData">
    </ag-grid-angular>
</div> -->

